* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 80vh;
  background-color: #080225;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  position: relative;
  width: 100px;
  height: 500px;
  margin: 10px;
  border-radius: 50px;

  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQy-G_yAZ0-6OB3Pw2Od0cWUgbE0rZOhRfeA&s);
  background-size: cover;
  background-position: center;

  transition: width 0.5s;
}

.img-box:nth-child(2) {
  background: url(https://uploads8.wikiart.org/images/vincent-van-gogh.jpg!Portrait.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(3) {
  background: url(https://cdn.britannica.com/78/69678-050-491A5ED8/Bedroom-oil-canvas-Vincent-van-Gogh-Art-1889.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(4) {
  background: url(https://www.vangoghgallery.com/skin/img/sunflower_full.jpg);
  background-size: cover;
  background-position: center;
}

.img-box p {
  color: #eb0707ea;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 30px;
  visibility: hidden;
}

.img-box:hover {
  width: 500px;
  cursor: pointer;
  transition: bottom 0.5s, visibility 0.5s;
}

.img-box:hover p {
  visibility: visible;
  bottom: 25px;
}

.title {
  color: rgb(131, 178, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080225;
}

.text {
  color: rgb(131, 178, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080225;
  margin: 80px 80px;
}

.second-container {
  background-color: #080225;
}
